div {
  margin: auto;
  border: 4px solid;
  border-radius: 50%;
  transition-property: border-radius;
  transition-duration: 0.05s;
}

body {
  background-color: black;
}

/*.blue {
  border: 5px solid blue;
}

.orange {
  border: 5px solid orange;
}*/
